body {
  padding-top: 5rem;
}

.center-content {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 75px;
  padding: 15px;
  width: auto;
}

#update {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: 70%;
	margin: 0 auto;
	border-top: 1px dotted #CCC;
}

#update ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#update ul li {
	width: 100%;
	padding: 0 20px;
	background: #EEE;
	padding-bottom: 10px;
	height: 110px;
	overflow: hidden;
	border-bottom: 1px dotted #CCC;
	-webkit-animation: myanim 1s;
	-moz-appearance-animation: myanim 1s;
	-o-animation: myanim 1s;
	animation: myanim 1s;
	
	-webkit-transition: height 0.3s ease-out;
	-moz-appearance-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
}

#update h2 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	padding-bottom: 5px;
	padding-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	border-bottom: 1px dotted #CCC;
	margin-bottom: 10px;
}

#update img {
	float: left;
	width: 80px;
	margin-right: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

@-webkit-keyframes myanim {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1.0;
	}
}

@-o-keyframes myanim {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1.0;
	}
}

@-moz-keyframes myanim {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1.0;
	}
}

@keyframes myanim {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1.0;
	}
}