body {
  padding-top: 5rem;
}

.center-content {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 75px;
  padding: 15px;
  width: auto;
}
